{% extends "reports/base.html" %}

{% block content %}

<div id="intro">
    <p>This page lists the automated checks that are run on the unreviewed tag
    database.</p>
</div>

<table>
    <tr><th>Check name</th><th>Description</th><th>Number of matching packages</th></tr>
    {% for count, c in checks %}
    <tr>
        <td><a href="{% url "report_checks_show" id=c.ID %}">{{c.name}}</a></td>
        <td>
            {{c.sdesc}}
            {% if c.ldesc %}
            <p>{{c.ldesc}}</p>
            {% endif %}
        </td>
        <td class="pkgstats">{{count}} / {{pkgcount}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}

