<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{STATIC_URL}}/bootstrap-4.1.0/css/bootstrap.min.css"></link>
    <script src="{{STATIC_URL}}/jquery-3.3.1/js/jquery-3.3.1.min.js"></script>
    <script src="{{STATIC_URL}}/popper/js/popper.min.js"></script>
    <script src="{{STATIC_URL}}/bootstrap-4.1.0/js/bootstrap.min.js"></script>

    {% block head %}
    <title>{% block title %}Debian base template{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="https://www.debian.org/"><img src="{{STATIC_URL}}/debian/img/openlogo-50.png"></img></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {% block navbar %}
          {% endblock %}
        </ul>

        {% block nav_searchbox %}
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        {% endblock %}
      </div>
    </nav>

    {% block content %}
    {% endblock %}

    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="card">
          {% block footer %}
          {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>


{% comment %}
  <p class="section">
  <!--
  The section flag should be the site name highlighting the potential
  change of top nav links
  -->
  {% block section %}template{% endblock %}</p>
{% endcomment %}

{% comment %}
<div id="content">
<span class="relatedpages">
{% block relatedpages %}
	<!--
	A short list of related or "sibling" pages. Keep this list short, relevant and consistent
	-->
	<a href="./header.html">Header</a> <a href="./footer.html">Footer</a>
	<a href="https://wiki.debian.org/DebianWebdesign" title="Read more about the
		design and how to implement a new site">Debian web-design</a> 
	<a href="https://wiki.debian.org/KallesDesign" title="Read about the ongoing
		redesign work">Redesign process</a>
{% endblock %}
</span><!-- end relatedpages -->
{% endcomment %}

{% comment %}
{% if messages %}
{% for message in messages %}
<div class="{% if message.tags %}{{ message.tags }}{% else %}important{% endif %}"><p>{{ message }}</p></li>
{% endfor %}
{% endif %}
{% endcomment %}
